In [ ]:
# Part 1: Detect & Handle Missing Data

# Task 1: Detect Missing Data
#     1. Load the Data:
#     2. Detect Missing Data:



# Task 2: Handle Missing Data by Dropping
#     1. Drop Rows with Missing Values:
        
        

# Task 3: Handle Missing Data by Imputation
#     1. Fill Missing Values:

In [2]:
import pandas as pd

# 1. Load the Data
# For example, loading a CSV file
df = pd.read_csv('/workspaces/AI_DATA_ANALYSIS_/src/Module 3/common_data_errors_example.csv')

# 2. Detect Missing Data
# Show the count of missing values per column
missing_counts = df.isnull().sum()
print("Missing values per column:")
print(missing_counts)

# Or get a boolean dataframe showing missing values
missing_bool = df.isnull()
print("Boolean mask of missing data:")
print(missing_bool)

Missing values per column:
customer_id          0
email               10
transaction_date    14
department          26
supplier_name        0
product_id           0
date_column          0
phone                0
state                0
month                0
revenue              0
quarter              0
engagement_score     0
price                0
dtype: int64
Boolean mask of missing data:
    customer_id  email  transaction_date  department  supplier_name  \
0         False  False             False       False          False
1         False  False             False       False          False
2         False  False             False       False          False
3         False  False             False       False          False
4         False  False             False       False          False
..          ...    ...               ...         ...            ...
95        False  False             False       False          False
96        False  False             False        True          False
97        False  False              True       False          False
98        False  False             False       False          False
99        False   True             False       False          False

    product_id  date_column  phone  state  month  revenue  quarter  \
0        False        False  False  False  False    False    False
1        False        False  False  False  False    False    False
2        False        False  False  False  False    False    False
3        False        False  False  False  False    False    False
4        False        False  False  False  False    False    False
..         ...          ...    ...    ...    ...      ...      ...
95       False        False  False  False  False    False    False
96       False        False  False  False  False    False    False
97       False        False  False  False  False    False    False
98       False        False  False  False  False    False    False
99       False        False  False  False  False    False    False

    engagement_score  price
0              False  False
1              False  False
2              False  False
3              False  False
4              False  False
..               ...    ...
95             False  False
96             False  False
97             False  False
98             False  False
99             False  False

[100 rows x 14 columns]

In [3]:
# 1. Drop Rows with Missing Values
df_dropped = df.dropna()

print("Data after dropping rows with missing values:")
print(df_dropped)

Data after dropping rows with missing values:
    customer_id               email transaction_date department supplier_name  \
0             1   user1@example.com       2024-07-22         IT    Supplier 0
1             2   user2@example.com       2024-11-26         HR    Supplier 1
2             3   user3@example.com       2024-04-05         HR    Supplier 2
3             4   user4@example.com       2024-12-13         IT    Supplier 3
4             5   user5@example.com       2024-11-15      Sales    Supplier 4
7             8   user8@example.com       2024-05-28      Sales    Supplier 2
8             9   user9@example.com       2024-09-02         HR    Supplier 3
11           12  user12@example.com       2024-09-15         IT    Supplier 1
12           13  user13@example.com       2024-08-04         HR    Supplier 2
14           15  user15@example.com       2024-07-07         IT    Supplier 4
15           16  user16@example.com       2024-08-15      Sales    Supplier 0
18           19  user19@example.com       2024-05-19         HR    Supplier 3
23           24  user24@example.com       2024-12-15      Sales    Supplier 3
24           25  user25@example.com       2024-09-22         IT    Supplier 4
26           27  user27@example.com       2024-10-26         IT    Supplier 1
28           29  user29@example.com       2024-11-22      Sales    Supplier 3
30           31  user31@example.com       2024-10-18         IT    Supplier 0
31           32  user32@example.com       2024-11-19      Sales    Supplier 1
33           34  user34@example.com       2024-10-06         HR    Supplier 3
35           36  user36@example.com       2024-05-06         IT    Supplier 0
36           37  user37@example.com       2024-11-09         IT    Supplier 1
37           38  user38@example.com       2024-04-15      Sales    Supplier 2
40           41  user41@example.com       2024-08-11      Sales    Supplier 0
43           44  user44@example.com       2024-03-28         IT    Supplier 3
44           45  user45@example.com       2024-08-24         HR    Supplier 4
45           46  user46@example.com       2024-08-17         IT    Supplier 0
46           47  user47@example.com       2024-03-13         HR    Supplier 1
47           48  user48@example.com       2024-06-07      Sales    Supplier 2
53           54  user54@example.com       2024-08-28         IT    Supplier 3
54           55  user55@example.com       2024-04-27      Sales    Supplier 4
56           57  user57@example.com       2024-07-28         HR    Supplier 1
60           61  user61@example.com       2024-04-24         HR    Supplier 0
61           62  user62@example.com       2024-11-13         IT    Supplier 1
64           65  user65@example.com       2024-11-18         HR    Supplier 4
65           66  user66@example.com       2024-05-14         IT    Supplier 0
66           67  user67@example.com       2024-10-07         IT    Supplier 1
68           69  user69@example.com       2024-02-14      Sales    Supplier 3
70           71  user71@example.com       2024-07-12      Sales    Supplier 0
71           72  user72@example.com       2024-04-27         IT    Supplier 1
72           73  user73@example.com       2024-02-24         IT    Supplier 2
73           74  user74@example.com       2024-03-04         HR    Supplier 3
75           76  user76@example.com       2024-11-16         HR    Supplier 0
77           78  user78@example.com       2024-08-13         IT    Supplier 2
78           79  user79@example.com       2024-11-18      Sales    Supplier 3
80           81  user81@example.com       2024-03-22      Sales    Supplier 0
81           82  user82@example.com       2024-05-16      Sales    Supplier 1
82           83  user83@example.com       2024-04-24      Sales    Supplier 2
84           85  user85@example.com       2024-10-06         HR    Supplier 4
85           86  user86@example.com       2024-09-18         IT    Supplier 0
87           88  user88@example.com       2024-02-19      Sales    Supplier 2
88           89  user89@example.com       2024-04-21         HR    Supplier 3
91           92  user92@example.com       2024-07-14      Sales    Supplier 1
92           93  user93@example.com       2024-05-11      Sales    Supplier 2
95           96  user96@example.com       2024-09-21         IT    Supplier 0
98           99  user99@example.com       2024-07-15         IT    Supplier 3

   product_id date_column           phone       state month  revenue quarter  \
0          P1  06/23/2024  (555) 123-1000      Calif.   Jun     4174      Q4
1          P2  2024-06-27    555-123-1001      Calif.   Jun     4507      Q4
2          P3  2024-07-05    555-123-1002  California   Jan     1860      Q3
3          P4  06/26/2024    555-123-1003      Calif.   Jan     2294      Q4
4          P5  2024-06-10  (555) 123-1004      Calif.   Feb     2130      Q3
7          P8  2024-07-01    555-123-1007      Calif.   Apr     4092      Q2
8          P9  2024-02-28  (555) 123-1008          CA   Apr     2638      Q1
11        P12  2024-08-21    555-123-1011          CA   Feb     2238      Q4
12        P13  02/01/2024  (555) 123-1012  California   Jan     1330      Q2
14        P15  2024-03-21    555-123-1014      Calif.   Jun     3135      Q1
15        P16  10/17/2024    555-123-1015      Calif.   Feb     4444      Q4
18        P19  08/03/2024    555-123-1018  California   Jan     4735      Q3
23         P4  2024-09-22    555-123-1023  California   May     3391      Q2
24         P5  06/04/2024  (555) 123-1024      Calif.   Apr     2515      Q1
26         P7  2024-07-23    555-123-1026      Calif.   Mar     3853      Q1
28         P9  2024-11-08  (555) 123-1028      Calif.   Mar     2215      Q4
30        P11  10/18/2024    555-123-1030          CA   Feb     3324      Q2
31        P12  2024-11-08    555-123-1031      Calif.   Jun     2184      Q2
33        P14  07/04/2024    555-123-1033      Calif.   Jun     4385      Q4
35        P16  2024-10-24    555-123-1035          CA   Apr     3300      Q4
36        P17  08/01/2024  (555) 123-1036          CA   Jan     1747      Q3
37        P18  2024-10-03    555-123-1037  California   Apr     3904      Q2
40         P1  2024-06-19  (555) 123-1040          CA   Apr     2082      Q1
43         P4  2024-11-27    555-123-1043      Calif.   Mar     3047      Q1
44         P5  2024-02-16  (555) 123-1044      Calif.   Jan     4547      Q4
45         P6  06/06/2024    555-123-1045          CA   Feb     3747      Q2
46         P7  2024-12-27    555-123-1046          CA   Apr     1975      Q4
47         P8  2024-03-04    555-123-1047      Calif.   Apr     2806      Q2
53        P14  2024-05-10    555-123-1053      Calif.   Jun     2899      Q4
54        P15  04/07/2024    555-123-1054      Calif.   May     4638      Q4
56        P17  2024-05-05  (555) 123-1056          CA   Jun     3879      Q1
60         P1  03/03/2024  (555) 123-1060          CA   Feb     4890      Q4
61         P2  2024-06-26    555-123-1061      Calif.   Mar     1646      Q1
64         P5  2024-04-12  (555) 123-1064      Calif.   Apr     3214      Q3
65         P6  2024-02-07    555-123-1065  California   Jun     2297      Q2
66         P7  04/26/2024    555-123-1066  California   Jun     3435      Q3
68         P9  2024-08-09  (555) 123-1068          CA   Feb     3363      Q4
70        P11  2024-09-18    555-123-1070          CA   Mar     1241      Q4
71        P12  2024-11-20    555-123-1071  California   Mar     3041      Q2
72        P13  03/11/2024  (555) 123-1072  California   May     3824      Q1
73        P14  2024-08-06    555-123-1073          CA   May     4417      Q4
75        P16  05/16/2024    555-123-1075      Calif.   Apr     3945      Q3
77        P18  2024-01-03    555-123-1077          CA   Apr     3139      Q3
78        P19  12/25/2024    555-123-1078          CA   Feb     2390      Q4
80         P1  2024-06-19  (555) 123-1080  California   Mar     2478      Q3
81         P2  02/24/2024    555-123-1081  California   Jun     4499      Q3
82         P3  2024-11-08    555-123-1082  California   Mar     3556      Q4
84         P5  03/09/2024  (555) 123-1084      Calif.   Feb     1034      Q3
85         P6  2024-07-15    555-123-1085  California   May     3253      Q3
87         P8  08/04/2024    555-123-1087  California   Feb     2955      Q2
88         P9  2024-12-17  (555) 123-1088  California   Mar     2585      Q4
91        P12  2024-02-25    555-123-1091      Calif.   Jan     4073      Q4
92        P13  2024-08-27  (555) 123-1092      Calif.   Mar     2021      Q4
95        P16  2024-12-01    555-123-1095      Calif.   Jan     2129      Q4
98        P19  2024-05-21    555-123-1098      Calif.   Feb     2500      Q1

    engagement_score       price
0           0.842285  320.832159
1           0.449754  343.545671
2           0.395150  270.157946
3           0.926659  229.413751
4           0.727272  280.917614
7           0.520834  191.130683
8           0.961172  128.658370
11          0.539692  491.877339
12          0.586751  205.423977
14          0.607034  401.189111
15          0.275999   83.851597
18          0.015636  430.595814
23          0.198842  180.846334
24          0.711342   57.126510
26          0.605960  204.810290
28          0.651077  420.477952
30          0.850039  370.255898
31          0.449451  112.445094
33          0.370818  350.934356
35          0.665922   95.727914
36          0.591298  491.262488
37          0.274722  263.151587
40          0.971712  483.055482
43          0.235985  102.466483
44          0.256068  146.646963
45          0.040434  353.175337
46          0.710663  424.863960
47          0.110891  429.598903
53          0.695516  337.804245
54          0.139331  294.536445
56          0.539841  470.665387
60          0.694785  247.950739
61          0.880468  229.727830
64          0.105494   18.856928
65          0.456535  252.007920
66          0.218440   97.623128
68          0.883280  374.643556
70          0.122088  160.949788
71          0.356298  275.844713
72          0.906828  259.318898
73          0.272132  321.802983
75          0.000520  299.036715
77          0.304781  248.503655
78          0.164656  453.988406
80          0.484830  181.538420
81          0.692436  326.100647
82          0.269412  337.772789
84          0.168291  122.790781
85          0.218764  254.604756
87          0.403836  386.591467
88          0.064892   31.365848
91          0.696304  146.984567
92          0.712271  442.912071
95          0.266781  172.067649
98          0.033051  490.362476

In [5]:
# 1. Fill Missing Values
# Example: Fill missing values with the column mean for numeric columns

# Select only numeric columns for mean imputation
numeric_cols = df.select_dtypes(include=['number']).columns

# Fill missing numeric columns with their mean
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

# For categorical columns, fill with mode or a placeholder, example:
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

for col in categorical_cols:
    mode_val = df[col].mode()
    if not mode_val.empty:
        df[col] = df[col].fillna(mode_val[0])
    else:
        df[col] = df[col].fillna('Unknown')  # fallback option

print("Data after imputing missing values:")
print(df)


# For categorical columns, you might fill with mode or a placeholder string:
# df['category_column'] = df['category_column'].fillna(df['category_column'].mode()[0])

Data after imputing missing values:
    customer_id               email transaction_date department supplier_name  \
0             1   user1@example.com       2024-07-22         IT    Supplier 0
1             2   user2@example.com       2024-11-26         HR    Supplier 1
2             3   user3@example.com       2024-04-05         HR    Supplier 2
3             4   user4@example.com       2024-12-13         IT    Supplier 3
4             5   user5@example.com       2024-11-15      Sales    Supplier 4
..          ...                 ...              ...        ...           ...
95           96  user96@example.com       2024-09-21         IT    Supplier 0
96           97  user97@example.com       2024-03-03         IT    Supplier 1
97           98  user98@example.com       2024-04-27         IT    Supplier 2
98           99  user99@example.com       2024-07-15         IT    Supplier 3
99          100  user11@example.com       2024-12-15      Sales    Supplier 4

   product_id date_column           phone       state month  revenue quarter  \
0          P1  06/23/2024  (555) 123-1000      Calif.   Jun     4174      Q4
1          P2  2024-06-27    555-123-1001      Calif.   Jun     4507      Q4
2          P3  2024-07-05    555-123-1002  California   Jan     1860      Q3
3          P4  06/26/2024    555-123-1003      Calif.   Jan     2294      Q4
4          P5  2024-06-10  (555) 123-1004      Calif.   Feb     2130      Q3
..        ...         ...             ...         ...   ...      ...     ...
95        P16  2024-12-01    555-123-1095      Calif.   Jan     2129      Q4
96        P17  06/12/2024  (555) 123-1096      Calif.   May     4843      Q1
97        P18  2024-12-17    555-123-1097      Calif.   May     4893      Q1
98        P19  2024-05-21    555-123-1098      Calif.   Feb     2500      Q1
99        P20  05/23/2024    555-123-1099      Calif.   Apr     1702      Q3

    engagement_score       price
0           0.842285  320.832159
1           0.449754  343.545671
2           0.395150  270.157946
3           0.926659  229.413751
4           0.727272  280.917614
..               ...         ...
95          0.266781  172.067649
96          0.976615  280.854834
97          0.411037  290.423310
98          0.033051  490.362476
99          0.345071   46.919665

[100 rows x 14 columns]