gfhfh

In [ ]:
# Activity 2: Dealing with Duplicates & Redundancy

# Task A: Identifying Duplicate Records

# 7. Identify Complete Duplicates:
# - Load a dataset and identify duplicated rows.
# - Use Pandas to detect duplicates.






# 8. Identify Duplicates based on Specific Columns:
# - Check for duplicates in specified columns.







# 9. Count Duplicate Rows:
# - Calculate and print the number of duplicate rows.

In [1]:
import pandas as pd

# Load dataset - replace with your actual dataset file path
df = pd.read_csv('/workspaces/AI_DATA_ANALYSIS_/src/Module 3/Techniques to Improve Data Quality/employees.csv')

print("Original Data:")
print(df)

# Task 7: Identify complete duplicate rows
duplicates_complete = df[df.duplicated()]
print("\nComplete duplicate rows:")
print(duplicates_complete)

# Task 8: Identify duplicates based on specific columns
# Example: Find duplicates based on 'name' and 'email' columns
duplicates_specific = df[df.duplicated(subset=['name', 'email'])]
print("\nDuplicate rows based on 'name' and 'email':")
print(duplicates_specific)

# Task 9: Count total number of duplicate rows
num_duplicates_complete = df.duplicated().sum()
num_duplicates_specific = df.duplicated(subset=['name', 'email']).sum()

print(f"\nNumber of complete duplicate rows: {num_duplicates_complete}")
print(f"Number of duplicate rows based on 'name' and 'email': {num_duplicates_specific}")

Original Data:
   employee_id             name   age department   salary  \
0            1         John Doe  28.0      Sales  55000.0
1            2       Jane Smith  34.0        NaN  62000.0
2            3      Bob Johnson   NaN  Marketing  58000.0
3            4   Alice Williams  29.0  Marketing      NaN
4            5      Chris Evans  45.0      Sales  70000.0
5            6      Emily Davis  38.0         HR  67000.0
6            7              NaN  41.0         HR  65000.0
7            8       Mary Clark  30.0      Sales  59000.0
8            9      James Lewis  37.0        NaN  62000.0
9           10  Patricia Taylor  32.0         HR  66000.0

                         email
0         john.doe@example.com
1       jane.smith@example.com
2      bob.johnson@example.com
3   alice.williams@example.com
4                          NaN
5      emily.davis@example.com
6    michael.brown@example.com
7       mary.clark@example.com
8      james.lewis@example.com
9  patricia.taylor@example.com

Complete duplicate rows:
Empty DataFrame
Columns: [employee_id, name, age, department, salary, email]
Index: []

Duplicate rows based on 'name' and 'email':
Empty DataFrame
Columns: [employee_id, name, age, department, salary, email]
Index: []

Number of complete duplicate rows: 0
Number of duplicate rows based on 'name' and 'email': 0

In [ ]:
# Task B: Deduplication Techniques

# 10. Remove Complete Duplicates:
# - Drop duplicate rows and keep only the first occurrence.






# 11. Subset Deduplication:
# - Remove duplicates based on a subset of columns.






# 12. Keep Last Occurrence:
# - Drop duplicates but keep the last occurrence in the dataset.