In [ ]:
# Part 1: Handle Missing Values & Duplicates

    # Step-by-Step Guidelines:
# 1. Load the Data: First, ensure you have pandas installed and import it.
# 2. Handling Missing Values
#     1. Identify Missing Values:
#     2. Fill Missing Values:
# 3. Handling Duplicates
#     1. Identify Duplicates:
#     2. Remove Duplicates:
# 4. Combined Practice on a New Dataset
#     1. New Sample Data:
#     2. Handling Missing Values:
#     3. Remove Duplicates:

In [ ]:
# Part 2: Apply Standardization & Formatting Rules

#     Step-by-Step Guidelines:
# 1. Standardize Text Data
#     1. Convert All Names to Lowercase:
# 2. Format Numerical Data
#     1. Round Age Column to the Nearest Integer:
# 3. Combined Practice on Another Dataset
#     1. New Sample Data:
#     2. Standardize Product Names:
#     3. Format Prices to Two Decimal Places:

In [4]:
# Step 1: Load the Data
import pandas as pd

# Example data to demonstrate
data = {
    'Name': ['Alice', 'Bob', None, 'David', 'Alice'],
    'Age': [25, None, 22, 23, 25],
    'City': ['New York', 'Los Angeles', 'New York', None, 'New York']
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)


# Step 2: Handling Missing Values

# 2.1 Identify Missing Values:
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

# 2.2 Fill Missing Values:
# For example, fill missing 'Age' with the mean age, 'City' with 'Unknown', and drop rows with missing 'Name'
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['City'].fillna('Unknown', inplace=True)
df.dropna(subset=['Name'], inplace=True)

print("\nData After Handling Missing Values:")
print(df)


# Step 3: Handling Duplicates

# 3.1 Identify Duplicates:
duplicates = df.duplicated()
print("\nDuplicate Rows (Boolean Series):")
print(duplicates)

# 3.2 Remove Duplicates:
df = df.drop_duplicates()
print("\nData After Removing Duplicates:")
print(df)


# Step 4: Combined Practice on a New Dataset

new_data = {
    'Product': ['Laptop', 'Tablet', 'Laptop', None, 'Smartphone', 'Tablet'],
    'Price': [1000, 500, 1000, 700, None, 500],
    'Stock': [50, None, 50, 20, 30, None]
}

new_df = pd.DataFrame(new_data)
print("\nNew Dataset:")
print(new_df)

# Handling Missing Values:
new_df['Price'].fillna(new_df['Price'].mean(), inplace=True)
new_df['Stock'].fillna(new_df['Stock'].median(), inplace=True)
new_df.dropna(subset=['Product'], inplace=True)

print("\nNew Dataset After Handling Missing Values:")
print(new_df)

# Remove Duplicates:
new_df = new_df.drop_duplicates()
print("\nNew Dataset After Removing Duplicates:")
print(new_df)

Original Data:
    Name   Age         City
0  Alice  25.0     New York
1    Bob   NaN  Los Angeles
2   None  22.0     New York
3  David  23.0         None
4  Alice  25.0     New York

Missing Values in Each Column:
Name    1
Age     1
City    1
dtype: int64

Data After Handling Missing Values:
    Name    Age         City
0  Alice  25.00     New York
1    Bob  23.75  Los Angeles
3  David  23.00      Unknown
4  Alice  25.00     New York

Duplicate Rows (Boolean Series):
0    False
1    False
3    False
4     True
dtype: bool

Data After Removing Duplicates:
    Name    Age         City
0  Alice  25.00     New York
1    Bob  23.75  Los Angeles
3  David  23.00      Unknown

New Dataset:
      Product   Price  Stock
0      Laptop  1000.0   50.0
1      Tablet   500.0    NaN
2      Laptop  1000.0   50.0
3        None   700.0   20.0
4  Smartphone     NaN   30.0
5      Tablet   500.0    NaN

New Dataset After Handling Missing Values:
      Product   Price  Stock
0      Laptop  1000.0   50.0
1      Tablet   500.0   40.0
2      Laptop  1000.0   50.0
4  Smartphone   740.0   30.0
5      Tablet   500.0   40.0

New Dataset After Removing Duplicates:
      Product   Price  Stock
0      Laptop  1000.0   50.0
1      Tablet   500.0   40.0
4  Smartphone   740.0   30.0

In [5]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'BOB', 'Charlie', 'david'],
    'Age': [25.6, 30.2, 22.8, 23.9],
    'City': ['New York', 'Los Angeles', 'New York', 'Chicago']
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)


# 1. Standardize Text Data

# 1.1 Convert All Names to Lowercase:
df['Name'] = df['Name'].str.lower()

print("\nAfter Converting Names to Lowercase:")
print(df)


# 2. Format Numerical Data

# 2.1 Round Age Column to the Nearest Integer:
df['Age'] = df['Age'].round().astype(int)

print("\nAfter Rounding Age to Nearest Integer:")
print(df)


# 3. Combined Practice on Another Dataset

new_data = {
    'Product': ['laptop', 'Tablet', 'LAPTOP', 'smartphone', 'tablet'],
    'Price': [999.999, 500.5, 1000.1, 699.999, 499.99]
}

new_df = pd.DataFrame(new_data)
print("\nNew Dataset:")
print(new_df)

# 3.1 Standardize Product Names (convert all to lowercase):
new_df['Product'] = new_df['Product'].str.lower()

# 3.2 Format Prices to Two Decimal Places:
new_df['Price'] = new_df['Price'].round(2)

print("\nNew Dataset After Standardization & Formatting:")
print(new_df)

Original Data:
      Name   Age         City
0    Alice  25.6     New York
1      BOB  30.2  Los Angeles
2  Charlie  22.8     New York
3    david  23.9      Chicago

After Converting Names to Lowercase:
      Name   Age         City
0    alice  25.6     New York
1      bob  30.2  Los Angeles
2  charlie  22.8     New York
3    david  23.9      Chicago

After Rounding Age to Nearest Integer:
      Name  Age         City
0    alice   26     New York
1      bob   30  Los Angeles
2  charlie   23     New York
3    david   24      Chicago

New Dataset:
      Product     Price
0      laptop   999.999
1      Tablet   500.500
2      LAPTOP  1000.100
3  smartphone   699.999
4      tablet   499.990

New Dataset After Standardization & Formatting:
      Product    Price
0      laptop  1000.00
1      tablet   500.50
2      laptop  1000.10
3  smartphone   700.00
4      tablet   499.99